## RUDI
rudi.data=[full path to a directory for storing RUDI data files, $user.home/rudi by default]

## API Keys
youtube.data.key=
youtube.data.url=https://www.googleapis.com/youtube
youtube.data.limit=600/1:minute,50000/1:day

## moz requires a logo be displayed in addition to citing the source
## see attribution policy: https://moz.com/help/guides/moz-api/mozscape/overview/legal
## URL and Link metrics only are allowed with free version
moz.id=
moz.key=
moz.url=
moz.processor=[implementation of ai.vacuity.rudi.adaptors.interfaces.CallProcessor]

## pocket.com
pocket.key=
pocket.url=

## twilio
twilio.id=
twilio.token=

## ticket masters
tm.key=
tm.token=
tm.url=

## open weather map
# Calls 10min: 600 
# Calls 1day: 50,000 
# Threshold: 7,200 
# Daily forecast: 0 

opm.key=
opm.limit=600/1:minute,50000/1:day
opm.url=

## expedia
expedia.key=
expedia.token=
expedia.url=

## open calais
# ATTRIBUTION LOGO IS REQUIRED TO BE DISPLAYED
calis.key=
calis.url=

# mashable
mashable.key=
mashable.url=

# Daily Motion
dm.key=
dm.token=
dm.port=8080
dm.domain=localhost